.body {
  box-sizing: border-box;
  /* background-color: #278ea5; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100%;
}

.wadah {
  width: 1000px;
  overflow-x: auto;
}

.based {
  color: white;
  background-color: #1f4287;
  padding: 12px 16px;
  border-radius: 5px 5px 0 0;
  text-align: right;
}

.code-wrapper {
  position: relative;
  top: -16px;
}

.code-wrapper pre {
  background-color: #071e3d;
  color: white;
  padding: 8px 20px 0px;
  border-radius: 0 0 5px 5px;
}

.icon {
  position: relative;
  top: 5px;
  right: 40%;
}

@media only screen and (min-width: 320px) {
  #copy-button {
    position: absolute;
    top: -48px;
    padding: 12px 16px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 1;
  }
}

@media only screen and (min-width: 961px) {
  #copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 7px;
    background-color: #1f4287;
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
    opacity: 0;
  }

  #copy-button:hover {
    background-color: #1f428790;
  }
  .code-wrapper:hover #copy-button {
    opacity: 1;
  }
}

.hljs {
  background-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}
