<div class="container-fluid">
  <div class="body align-items-center d-flex justify-content-center">
    <div class="wadah">
      <p class="based">Baileys</p>
      <div class="code-wrapper">
        <pre>
          <code id="code">function fibonacci(num)
{
var num1=0;
var num2=1;
var sum;
var i=0;
for (i = 0; i < num; i++)
  {
    sum=num1+num2;
    num1=num2;
    num2=sum;
  }
  return num2;
}
                  
console.log(fibonacci(155));</code>
          </pre>
        <button id="copy-button">Copy</button>
      </div>
    </div>
  </div>
</div>
