<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Tebak gambar Page</h1>
  <h3 class="h3 mb-4 text-gray-800">
    Example use :
    <a target="_blank" href="https://shinoa-rest.herokuapp.com/fun/tebakGambar">shinoa-rest.herokuapp.com/fun/tebakGambar</a>
  </h3>
  <h3 class="h3 mb-4 text-gray-800">Masih belom jadi desainnya, jadi gomenasai v:</h3>
</div>
