<div class="container-fluid">
  <div class="body align-items-center d-flex justify-content-center">
    <div class="wadah">
      <p class="based">
        <label class="switch icon">
          <input id="toggle" type="checkbox" />
          <span class="slider round"></span>
        </label>
        Baileys
      </p>
      <div class="code-wrapper">
        <pre>
          <code id="code">
// note : fitur ini sedang diperbaiki
// silahkan kunjungi dilain waktu :)
          </code>
        </pre>
        <span id="code_pro" class="d-none">
// note : fitur ini sedang diperbaiki
// silahkan kunjungi dilain waktu :)
        </span>
        <span id="code_noob" class="d-none">
// note : fitur ini sedang diperbaiki
// silahkan kunjungi dilain waktu :)
        </span>
        <button id="copy-button">Copy</button>
      </div>
    </div>
  </div>
</div>

<script src="<%= url %>/views/highlight/highlightjs/highlight.pack.js"></script>